[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
"psycopg2" = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
"psycopg2-binary" = "*"
flask-oidc = "*"
requests = "*"
pyjwt = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.6"
